h1 {
	color: orange;
}

h3 {
	background-color: green;
}

.makeFlex {
    display: flex;
}

.flexItem {
    flex: 1;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.navBar {
    background-color: #4AB7D8;
}

.nav {
    list-style: none;
}

.nav a {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: white;
}